$background-color : black;
$text-kleur: rgb(0, 251, 255);
$button-color: rgb(255, 136, 0);

$background-color-hover : rgb(211, 189, 222);
$text-kleur-hover: rgb(7, 40, 7);
$button-hover-color: rgb(83, 44, 141);
