@import "colors";

.button {
  background-color: $button-color;
  color: black;
  width: 200px;
  height: 60px;
  border-radius: 30px;
  font-size: large;
  font-weight: 800;
  &:hover {
    background-color: $button-hover-color;
    color: yellow;
  }
}
