@import "./abstracts/variables";

@import "./layout/footer";
@import "./layout/forms";
@import "./layout/header";
@import "./layout/navigation";
@import "./layout/cards";

@import "./base/resets";

.home_banner {
  max-width: 100%;
  height: 60vh;
  background: url(../images/bg_home.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.welcome {
  margin: 15px;
}

@media (max-width: $screen_s) {
  .home_banner {
    max-width: 100%;
    height: 500px;
    background: url(../images/bg_home_mob.png);
    background-size: contain;
  }
}
